body
{
    position: relative;
    overflow: hidden !important;
    overflow-y: hidden;
    margin: 0px;
    height: 100%;
    background-color: black;
}

h1 {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-sizing: border-box;
    opacity: 0.25;
    will-change: opacity;
  }

  h2 {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    box-sizing: border-box;
    opacity: 0.25;
    will-change: opacity;
  }

  h3 {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 75px);
    width: 150px;
    height: 150px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    opacity: 0.25;
    pointer-events: none;
    box-sizing: border-box;
  }

.ButtonLayout {
    user-select: none;
    position: fixed;
    bottom: calc(100px);
    right: 0px;
    width: 95px;
    height: 70px;
    transition: opacity 0.3s ease 0.4s;
    will-change: opacity;
    opacity: 1;
}

.ControllerLayout{
    user-select: none;
    position: fixed;
    bottom: 30px;
    left: 10px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    transition: opacity 0.3s ease 0s;
    will-change: opacity;
    opacity: 1;
}

h4{
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
    height: 60px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    box-sizing: border-box;
    pointer-events: none;
    will-change: transform;
    transform: translateX(0px) translateY(0px);
}